<div class='containet'>
    <div class='card'>
    <table class='border= 1S'>
        <thead>
            <th>Name</th>
            <th>email</th>
            <th>organization</th>S
        </thead>
        <tbody>
            <tr>
                <td><%= @user.name%></td>
                <td><%= @user.email%></td>
                <td><%= @user.name%></td>
            </tr>
        </tbody>
    </table>
        
    </div>
    
</div>